<footer class="footer-bg text-white font-small" >
  <div class="container">
    <div class="row py-4">
      <div class="col-8" style="letter-spacing: 0.015rem; min-width: 228px;">

        Developer: <a style="color: white; font-weight: bold;" href="https://github.com/cleiltonoliveira">Cleilton Oliveira </a><br>
        <span>
          See more:
          <a class="footer-link" href="https://github.com/cleiltonoliveira/mars-weather">mars-weather</a><br>
          <a class="footer-link" href="https://api.nasa.gov/">NASA Open APIs</a>
        </span>
      </div>
      <div class="col">
        <div style="text-align: right;">
          <span >
            <a href="https://angular.io/">
              
              <img  class="footer-icon" src="../../assets/angular-icon.png" />
            </a>
            <a href="https://www.typescriptlang.org/" class="ml-1">
              <img  class ="footer-icon"src="../../assets/typescript-icon.png" />
            </a>
          </span>
        </div>
      </div>
    </div>
  </div>
</footer>