<div class="home-bg-image no-margin">
    <div class="container">
        <div class=" row text-white">
            <div class="col">
                <h1>Latest Weather<br>at Elysium Planitia </h1>
                <p> InSight is taking daily weather measurements (temperature, wind, pressure) on the surface of Mars at
                    Elysium Planitia, a flat, smooth plain near Mars’ equator. </p>
            </div>
        </div>
        <div class="row text-white">
            <div class="col-4">
                <div>Sol</div>
                <div>September</div>
            </div>
            <div class="col-8">
                <div>High</div>
                <div>Low</div>
            </div>
        </div>

        <div class="row row-cols row-cols-md-7">

            <div class="col mb-4">
                <div class="card h-100" style="max-width: 12rem; min-width: 8rem;">
                    <div class="card-body">
                        <div> <span>Sol 606</span> </div>
                        <div> <span>Aug. 8</span> </div>
                        <div> <span>High: -18º C</span> </div>
                        <div> <span>Low: -93º C</span> </div>
                    </div>
                </div>
            </div>

            <div class="col mb-4">
                <div class="card h-100" style="max-width: 12rem; min-width: 8rem;">
                    <div class="card-body">
                        <div> <span>Sol 606</span> </div>
                        <div> <span>Aug. 8</span> </div>
                        <div> <span>High: -18º C</span> </div>
                        <div> <span>Low: -93º C</span> </div>
                    </div>
                </div>
            </div>

            <div class="col mb-4">
                <div class="card h-100" style="max-width: 12rem; min-width: 8rem;">
                    <div class="card-body">
                        <div> <span>Sol 606</span> </div>
                        <div> <span>Aug. 8</span> </div>
                        <div> <span>High: -18º C</span> </div>
                        <div> <span>Low: -93º C</span> </div>
                    </div>
                </div>
            </div>

            <div class="col mb-4">
                <div class="card h-100" style="max-width: 12rem; min-width: 8rem;">
                    <div class="card-body">
                        <div> <span>Sol 606</span> </div>
                        <div> <span>Aug. 8</span> </div>
                        <div> <span>High: -18º C</span> </div>
                        <div> <span>Low: -93º C</span> </div>
                    </div>
                </div>
            </div>

            <div class="col mb-4">
                <div class="card h-100" style="max-width: 12rem; min-width: 8rem;">

                    <div class="card-body">
                        <div> <span>Sol 606</span> </div>
                        <div> <span>Aug. 8</span> </div>
                        <div> <span>High: -18º C</span> </div>
                        <div> <span>Low: -93º C</span> </div>
                    </div>
                </div>
            </div>
            <div class="col mb-4">
                <div class="card h-100" style="max-width: 12rem; min-width: 8rem;">

                    <div class="card-body">
                        <div> <span>Sol 606</span> </div>
                        <div> <span>Aug. 8</span> </div>
                        <div> <span>High: -18º C</span> </div>
                        <div> <span>Low: -93º C</span> </div>
                    </div>
                </div>
            </div>
            <div class="col mb-4">
                <div class="card h-100" style="max-width: 12rem; min-width: 8rem;">

                    <div class="card-body">
                        <div> <span>Sol 606</span> </div>
                        <div> <span>Aug. 8</span> </div>
                        <div> <span>High: -18º C</span> </div>
                        <div> <span>Low: -93º C</span> </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>